Pillow
langchain
fastapi
jinja2
uvicorn
python-multipart
ipykernel
python-dotenv
pypdf
bs4
arxiv
pymupdf
fitz
wikipedia
langchain-text-splitters
streamlit
langchain_chroma
langchain_groq
faker
paddleocr
paddlepaddle
easyocr
ultralytics
langchain_huggingface
langchain_ollama
faiss-cpu
huggingface_hub 
sentence-transformers 
chromadb 
ollama
ipykernel
mysql-connector-python
SQLAlchemy
validators==0.28.1
youtube_transcript_api
pytube
# unstructured==0.18.13
# numexpr
# moviepylangchain-openai
langchain
python-dotenv
langchain_community
langchain_core
matplotlib
datasets
openai
tiktoken
langchain_nvidia_ai_endpoints
crewai
crewai_tools
tabulate
# neo4j==5.14
# langchain_neo4j
rank-bm25
google-genai
langchain_google_genai
langchain_experimental
neo4j
fpdf
deepeval
flashrank
duckduckgo-search
langgraph_supervisor
openbharatocr
opencv-python 
mediapipe 
numpy
requests
dotenv
gradio 
sqlalchemy 
mysql-connector-python 
deepface 
tf-keras 
langchain-experimental 
pandas 
langchain-cohere 
rank-bm25
tabulate
google-generativeai
langchain-nvidia-ai-endpoints
pinecone
networkx   
hashlib
redis
pyjwt
passlib
python-multipart
slowapi

#  face_venv
